<li>{{#link-to 'story' story.id}} "{{story.headline}}" By: {{story.author}} {{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{story.image}} alt={{story.headline}} {{action 'imageHide'}}></p>
  {{else}}
    <button class="btn btn-info" {{action 'imageShow'}}>Show Image</button>
  {{/if}}
</li>
